name: go-ci
on:
  push: { branches: ["main"] }
  pull_request: { branches: ["main"] }

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - run: go mod download
      - run: go test ./... -v
      - run: go build -v ./...
